{% extends "layout.html" %}


{% block content %}
<form method="POST" action="">
    {{ form.hidden_tag() }}
    <div class="form_settings">
        <p>
        <small style="font-size: 15px; font-weight: 500;">
            <a class="ml-0" href="{{ url_for('users.reset_request') }}">Забыли пароль?</a>
        </small>
        </p>
        <p>
            <span>{{ form.email.label(class="form-control-label") }}</span>
            {% if form.email.errors %}
            {{ form.email(class="form-control form-control-lg is-invalid") }}
            {% else %}
            {{ form.email(class="form-control form-control-lg") }}
            {% endif %}
        </p>
        {% if form.email.errors %}
        <p>
            <span>&nbsp;</span>
            {% for error in form.email.errors %}
            {{ error }}
            {% endfor %}
        </p>
        {% endif %}
        <p>
            <span>{{ form.password.label(class="form-control-label") }}</span>
            {% if form.password.errors %}
            {{ form.password(class="form-control form-control-lg is-invalid") }}
            {% else %}
            {{ form.password(class="form-control form-control-lg") }}
            {% endif %}
        </p>
        {% if form.password.errors %}
        <p>
            <span>&nbsp;</span>
            {% for error in form.password.errors %}
            {{ error }}
            {% endfor %}
        </p>
        {% endif %}
        <p>
            <span>{{ form.remember.label(class="form-check-label") }}</span>
            {{ form.remember(class="checkbox form-check-input") }}
        </p>
        <p>
            <span>&nbsp;</span>
            {{ form.submit(class="submit btn btn-outline-info") }}
        </p>
    </div>
    <small style="font-size: 15px; font-weight: 500;">
        Нужен аккаунт? <a class="ml-2" href="{{ url_for('users.register') }}">Зарегистрируйтесь</a>
    </small>
</form>
{% endblock content %}
